/* ===== COLORS ===== */

$basic-white: #ffffff;
$basic-black: #000000;
$basic-light-gray: #f1f1f1;
$basic-gray: #444444;

$special-downy: #63d1bb;
$special-puerto-rico: #56c3b2;

/* ===== VIEWPORTS ===== */

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
