/* ===== COLORS ===== */

$basic-white: #ffffff;
$basic-black: #000000;
$basic-platinum: #e5e5e5;
$basic-very-light-gray: #ececec;
$basic-light-gray: #f1f1f1;
$basic-snow: #f9f9f9;
$basic-gray: #444444;

$special-downy: #63d1bb;
$special-moderate-downy: #59d5bc;
$special-puerto-rico: #56c3b2;
$special-moderate-puerto-rico: #46c1ae;
$special-ivory-black: #231f20;

$special-white-with-point-three-opacity: rgba(255, 255, 255, 0.3);
$special-black-with-point-one-opacity: rgba(0, 0, 0, 0.1);
$special-black-with-point-three-opacity: rgba(0, 0, 0, 0.3);


/* ===== VIEWPORTS ===== */

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
