/*.contacts {

}*/

/*.contacts__wrapper {

}*/

.contacts__title {
  @include reset-h;
}

.contacts__list {
  @include reset-list;
}

.contacts__item {
  font-size: 14px;
  line-height: 30px;
  color: $basic-gray;
}

/*.contacts__label {

}*/

.contacts__description {
  margin: 0;
}

/*.contacts__map {

}*/

/*.contacts__button {

}*/
