/*.content {

}*/

.content__wrapper {
  background-color: $basic-light-gray;
  background-image: url("../img/content/content_background_mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.content__title-wrapper {
  margin: 0 auto;
}

.content__title {
  @include reset-h;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}

.content__list {
  @include reset-list;
}

.content__item {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;

  &--interior {
    background-color: $special-downy;
  }

  &--toy {
    background-color: $special-puerto-rico;
  }
}

.content__link {
  /*position: relative;*/
  display: block;
  color: $basic-white;

  /*&--icon-interior::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 40px;
    height: 62px;
    background-image: url("../img/content/icon_interior.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }*/

  /*&--icon-toy::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 40px;
    height: 62px;
    background-image: url("../img/content/icon_toy.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }*/
}
