.page-header {
  background-color: $basic-white;
}

.page-header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
}

.page-header__info {
  @include reset-text;
  display: none;
  font-size: 15px;
  line-height: 24px;
  color: $basic-gray;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
