.page {
  height: 100%;
}


.page__body {
  position: relative;

  &--overlay::before {
    z-index: 2;
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $basic-white;
    opacity: 0.9;
  }
}
