.page-footer {
  background-color: $basic-light-gray;
}

/*.page-footer__wrapper {

}*/

.page-footer__logo {
  display: block;
  width: 102px;
  height: 35px;
}

/*.page-footer__logo-image {

}*/

/*.page-footer__social {

}*/

/*.page-footer__copyright {

}*/
