.page-header {
  background-color: $basic-white;
}

.page-header__wrapper {
  /*margin: 0 auto;*/
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
}

.page-header__info {
  @include reset-p;
  font-size: 15px;
  line-height: 24px;
  color: $basic-gray;
}
