.page-footer {
  background-color: $basic-light-gray;
}

.page-footer__wrapper {
  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: none;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    display: block;
    width: 102px;
    height: 35px;
  }
}

/*.page-footer__logo-image {

}*/

/*.page-footer__social {

}*/

/*.page-footer__copyright {

}*/
