/*.about {

}*/

/*.about__wrapper {

}*/

.about__title {
  @include reset-text;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  @include reset-list;

  @media (min-width: $tablet-width), (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.about__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
