.button {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  &--ghost-theme {
    border: 2px solid $basic-gray;
    color: $basic-gray;
    background-color: $basic-white;
  }

  &--block {
    display: block;
  }

  &:hover {
    color: $basic-white;
    background-color: $basic-gray;
  }

  &:focus {
    color: $special-white-with-point-three-opacity;
    background-color: $basic-gray;
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
