/*.contacts {

}*/

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-areas:
      "contacts-title   contacts-map"
      "contacts-list    contacts-map"
      "contacts-button  contacts-map";
    grid-template-columns: 1fr 1fr;
  }
}

.contacts__title {
  @include reset-text;
  grid-area: contacts-title;
}

.contacts__list {
  @include reset-list;
  grid-area: contacts-list;
}

.contacts__item {
  font-size: 14px;
  line-height: 30px;
  color: $basic-gray;
}

/*.contacts__label {

}*/

.contacts__description {
  margin: 0;
}

.contacts__map {
  grid-area: contacts-map;
}

.contacts__button {
  grid-area: contacts-button;
}
