.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  margin-right: 26px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  width: 28px;
  height: 35px;

  &:hover {
    .copyright__htmlacademy-logo {
      fill: $special-moderate-puerto-rico;
    }
  }

  &:focus {
    .copyright__htmlacademy-logo {
      opacity: 0.3;
    }
  }
}

.copyright__htmlacademy-logo {
  fill: $special-downy;
}
