/*.reviews {

}*/

.reviews__wrapper {
  position: relative;
}

.reviews__title {
  @include reset-text;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.reviews__list {
  @include reset-list;
}

.reviews__item {
  @include reset-text;
}

.reviews__text {
  @include reset-text;
  font-size: 15px;
  line-height: 30px;
  color: $basic-gray;
}

.reviews__author {
  @include reset-text;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.reviews__author-nickname {
  display: block;
  font-size: 17px;
  line-height: 30px;
  color: $basic-gray;
}

/*.reviews__controls {

}*/

/*.reviews__button {

}*/
