.site-list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    // TODO: change to position: absolute
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: 0;
  }
}

.site-list__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.site-list__link {
  display: block;
  color: $basic-black;
}
