.site-list-additional {
  @include reset-list;
  display: none;

  @media (min-width: $desktop-width) {
    // TODO: change to position: absolute
    order: 1;
    display: block;
  }
}

.site-list-additional__item {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.site-list-additional__link {
  display: block;
  color: $basic-black;
}
