.site-list-additional {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 50px;
    bottom: -43px;
  }
}

.site-list-additional__item {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    margin-right: 62px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-list-additional__link {
  display: block;
  color: $basic-black;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}
