/*.social {

}*/

.social__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social__item {
  margin-right: 41px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: block;

  &:hover {
    .social__icon-instagram {
      fill: $special-moderate-puerto-rico;
    }

    .social__icon-facebook {
      fill: $special-moderate-puerto-rico;
    }

    .social__icon-twitter {
      fill: $special-moderate-puerto-rico;
    }
  }

  &:focus {
    .social__icon-instagram {
      opacity: 0.3;
    }

    .social__icon-facebook {
      opacity: 0.3;
    }

    .social__icon-twitter {
      opacity: 0.3;
    }
  }
}

.social__icon-instagram {
  fill: $basic-black;
}

.social__icon-facebook {
  fill: $basic-black;
}

.social__icon-twitter {
  fill: $basic-black;
}
