.user-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.user-list__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  box-shadow:
    0 1px 0 $basic-very-light-gray,
    inset 0 1px 0 $basic-very-light-gray;

  @media (min-width: $tablet-width) {
    box-shadow: none;
  }
}

.user-list__item--search {
  padding: 28px 0 27px 32px;

  @media (min-width: $tablet-width) {
    padding: 36px 31px 35px 33px;
    box-shadow:
      inset 1px 0 0 $special-black-with-point-one-opacity,
      1px 0 0 $special-black-with-point-one-opacity;
  }

  @media (min-width: $desktop-width) {
    padding: 36px 32px 35px 32px;
  }
}

.user-list__form-search {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    .user-list__path-search {
      opacity: 1;
      fill: $special-downy;
    }
  }

  &:focus {
    .user-list__path-search:focus {
      opacity: 0.6;
    }
  }
}

.user-list__icon-search {
  margin-right: 26px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
  }
}

.user-list__path-search:hover {
  opacity: 1;
  fill: $special-downy;
}

.user-list__path-search:focus {
  opacity: 0.6;
}

.user-list__input-search {
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: transparent;

  &::placeholder {
    color: $basic-black;
  }

  /* TODO: delete? */
  /*&:hover {
    opacity: 0.6;
  }*/

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-list__item--cart {
  @media (min-width: $tablet-width) {
    padding: 33px 0 32px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 2px 32px 31px;
  }
}

.user-list__link {
  padding: 29px 0 26px 30px;
  color: $basic-black;

  &--cart {
    display: flex;
    align-items: center;
  }

  &--cart:hover {
    span {
      opacity: 0.6;
    }

    .user-list__path-cart {
      opacity: 1;
      fill: $special-downy;
    }
  }

  &--cart:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.user-list__icon-cart {
  margin-right: 25px;

  @media (min-width: $tablet-width) {
    margin-right: 31px;
  }
}
